DATE_TIME='{{ ansible_date_time.iso8601 }}'
HOST_PRIVATE_IP='{{ inventory_hostname }}'
WECUBE_RELEASE_VERSION='{{ wecube_release_version }}'
WECUBE_SETTINGS='{{ wecube_settings }}'
WECUBE_HOME='{{ dest_dir }}'
WECUBE_USER='{{ wecube_user }}'
INITIAL_PASSWORD='{{ initial_password }}'
USE_MIRROR_IN_MAINLAND_CHINA='{{ use_mirror_in_mainland_china }}'

GATEWAY_HOSTS='{{ groups[platform_group_name] | join(",") }}'
PORTAL_HOSTS='{{ groups[platform_group_name] | join(",") }}'

KEEPALIVED_VRRP_INSTANCE_STATE='{{ lb_state }}'
KEEPALIVED_VRRP_INSTANCE_INTERFACE='{{ lb_interface }}'
KEEPALIVED_VRRP_INSTANCE_PRIORITY='{{ lb_priority }}'
KEEPALIVED_SRC_IP='{{ inventory_hostname }}'
KEEPALIVED_PEER_IP='{{ lb_peer }}'
KEEPALIVED_VIRTUAL_IP='{{ lb_vip }}/{{ lb_vip_mask }}'
