DATE_TIME='{{ ansible_date_time.iso8601 }}'
HOST_PRIVATE_IP='{{ inventory_hostname }}'
WECUBE_RELEASE_VERSION='{{ wecube_release_version }}'
WECUBE_SETTINGS='{{ wecube_settings }}'
WECUBE_HOME='{{ wecube_home }}'
WECUBE_USER='{{ wecube_user }}'
INITIAL_PASSWORD='{{ initial_password }}'
USE_MIRROR_IN_MAINLAND_CHINA='{{ use_mirror_in_mainland_china }}'

S3_PORT=9000
S3_ACCESS_KEY=access_key
S3_SECRET_KEY=secret_key
