DATE_TIME='{{ ansible_date_time.iso8601 }}'
HOST_PRIVATE_IP='{{ inventory_hostname }}'
WECUBE_RELEASE_VERSION='{{ wecube_release_version }}'
WECUBE_SETTINGS='{{ wecube_settings }}'
WECUBE_HOME='{{ wecube_home }}'
WECUBE_USER='{{ wecube_user }}'
INITIAL_PASSWORD='{{ initial_password }}'
USE_MIRROR_IN_MAINLAND_CHINA='{{ use_mirror_in_mainland_china }}'

STATIC_RESOURCE_HOSTS='{{ groups[platform_group_name] | join(",") }}'
S3_HOST='{{ groups[platform_s3_group_name][0] }}'

CORE_DB_HOST='{{ groups[platform_db_group_name][0] }}'
CORE_DB_PORT=3307
CORE_DB_NAME=wecube
CORE_DB_USERNAME=root
CORE_DB_PASSWORD='{{ initial_password }}'

AUTH_SERVER_DB_HOST='{{ groups[platform_db_group_name][0] }}'
AUTH_SERVER_DB_PORT=3307
AUTH_SERVER_DB_NAME=auth_server
AUTH_SERVER_DB_USERNAME=root
AUTH_SERVER_DB_PASSWORD='{{ initial_password }}'
